<!DOCTYPE html>
<html lang="pt-BR">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Scout - Powerlifting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}

{% block body %}
<body>
    {% block content %}
    <div class="container">
        <header>
            <h1>Talent Scout</h1>
        </header>

        <nav>
            <a class="nav-btn active dashboard-nav" href="{{ url_for('renderDashboard') }}">Dashboard</a>
            <a class="nav-btn cadastro-nav" href="{{ url_for('renderCadastro') }}">Cadastro</a>
            <a class="nav-btn review-nav" href="{{ url_for('renderReview') }}">Análise</a>
            <a class="nav-btn view-nav" href="{{ url_for('renderViewPage') }}">Visualização</a>
        </nav>
    </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
{% endblock %}
</html>